
.blankSpace{
    color: white;
}

.container{
    padding-top: 1rem;
    margin-left: 2rem;
 
   
}
.container p{
    padding: 2px;

    color: grey;
}
.container h5{
    color: #003057
}
.blankSpace{

    opacity: 0;
}

@media all and (min-width:200px) and (max-width:765px){
    .container{

        width: 100%;
        margin: 0;

        text-align: center;
        
    }
    .container h5{
        font-size: 1.4rem;
    }

    .container p{
        font-size: 1.4rem;
    }

    
}