
.container{
   
    background-color:  #003057;
   color: white;
    text-align: center;
    padding: 2rem 0;
    margin-top: 1rem;
}


@media all and (min-width:765px) and (max-width:1080px){
        .container{
           
            font-size: 1.2rem;
            padding: 0;
            padding-bottom: 2.2rem;
            padding-top: 0.2rem;
        }
}

@media all and (min-width:200px) and (max-width:765px){
    .container{
      
        padding: 0;
        padding-bottom: 2rem;
    }
    .container h3{
        font-size: 0.7rem;
    }
    .container p{
        font-size: 0.7rem;
    }
}
